.character {
  &__container {
    background-color: #5dbcd2;
    color: #076d6d;
    font-size: 18px;
    padding-bottom: 5px;
    width: 300px;
    border-radius: 5px;
  }
  &__img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__card {
    &--name {
      margin-bottom: 5px;
    }
    &--species {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}
