.character {
  &__filters {
    margin-top: 40px;
    margin-bottom: 70px;
  }

  &__filter {
    height: 35px;
    width: 200px;
    box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.6vw #9df280, 0 0 4vw 0.4vw #47ed00, inset 0 0 1.5vw 0.4vw #9df280, inset 0 0 0.4vw 0.2vw #c4f4a7, inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 20px;
    &--gender,
    &--episodes {
      margin-top: 25px;
      margin-right: 20px;
      color: white;
      font-family: "Merriweather Sans", sans-serif;
      display: flex;
      flex-direction: column;
    }
  }
  &__filter[type="text"] {
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 18px;
  }
}
.search__character--gender,
.search__character--episodes {
  &--select,
  &--label {
    font-size: 14px;
    margin-top: 5px;
    font-family: "Merriweather Sans", sans-serif;
    width: 100px;
  }
}

.character__filters--improvements {
  display: flex;
  flex-direction: row;
}

@media all and (min-width: 768px) {
  .character {
    &__filter {
      width: 350px;
    }
  }
}
@media all and (min-width: 1200px) {
  .character {
    &__filter {
      width: 450px;
    }
  }
}
